@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #eff6ff;
  --color-accent: #1e40af;
  --color-background: #f9fafb;
  --color-text: #1f2937;
}

@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}
